[submodule "configPy"]
    path = configPy
    url = https://github.com/henriquefac/configPy.git
    branch = metrics-tcc-config

[submodule "parser_transcription"]
	path = parser_transcription
	url = git@github.com:henriquefac/chunk-transcription-tcc.git
	branch = module
